.start {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 128px;
  padding: 32px;
  gap: 64px;
  background-color: white;

  h1 {
    font-size: 48px;
    margin: 0;
    color: #6e6f71;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  background-color: whitesmoke;
}

button {
  text-decoration: none;
  background-color: white;
  font-size: 24px;
  color: #333;
  border: none;
  padding: 16px;
  width: 250px;

  &:hover {
    background-color: #00abeb;
    color: #fff;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &.selected {
    background-color: #00abeb;
    color: white;
  }
}

.play {
  border-radius: 4px;
  background-color: #00abeb;
  color: white;
  text-transform: uppercase;

  &:hover {
    background-color: #008cba;
    cursor: pointer;
  }
}
